body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.75;
    font-size: 16px;
    color: #404040;
    padding: 0 10px;
    font-family: 'Inter';
}

h1,
h2,
h3 {
    line-height: 1.2
}