---
import Blog from '../components/Blog.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Tim Redband'>
    <Blog title="Hey, I'm Tim">
        I'm a fullstack software engineer. I currently work at <a href='https://www.dunnhumby.com/'>dunnhumby</a>.
    </Blog>
</Layout>
