---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
    <main>
        <p>
            Over the past decade, I've written content on my blog and newsletter. I try to keep things simple. You'll
            find writing about technologies I'm interested in at the time, or how I'm learning and growing in my career,
            sharing knowledge along the way. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue tempor
            erat, id condimentum nunc. Mauris ac libero malesuada, laoreet neque quis, vehicula velit. Aenean quis odio
            eu eros facilisis faucibus eu ac risus. Vestibulum augue orci, laoreet et suscipit ut, laoreet ac lectus.
            Suspendisse eleifend lectus ac est malesuada, at posuere libero eleifend. Quisque eget diam sem. Integer sit
            amet feugiat magna, vel tempus erat. Curabitur at eleifend nisl. Donec neque enim, luctus nec ornare
            commodo, viverra vitae nibh. Aliquam sit amet rhoncus sem, ac pellentesque sapien. Curabitur in erat vel mi
            pulvinar dictum. Suspendisse potenti. Donec sollicitudin, felis ut sagittis tempor, arcu magna interdum
            odio, a ultrices neque mauris vitae sem. Morbi efficitur, ligula interdum gravida faucibus, est nunc
            convallis nibh, nec malesuada purus massa vel arcu. Cras vitae varius lectus, id egestas turpis. Aliquam sed
            ipsum pellentesque diam aliquet volutpat. Praesent laoreet eros non lobortis elementum. Fusce consequat
            dignissim eros, ac commodo turpis vehicula ac. Nullam non nisi dictum, cursus ante eu, maximus lectus.
            Vivamus auctor tempor sodales. Vivamus iaculis condimentum eros id consectetur. In aliquam odio nibh, at
            ultrices justo feugiat sit amet. Integer at nunc id velit blandit mattis sed id ligula. Phasellus quis quam
            dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum interdum aliquam elit non
            venenatis. Curabitur libero lorem, lacinia eget molestie non, convallis eget sapien. Quisque efficitur orci
            sit amet malesuada auctor. Fusce cursus vel eros vel finibus. Aliquam a tellus dictum, tempus metus ut,
            fringilla libero. Nulla ac est porta felis suscipit tempor vel ut quam. Nunc magna leo, interdum at lorem
            id, posuere consequat urna. Suspendisse pharetra magna nec felis pellentesque pellentesque. Vivamus eu justo
            pulvinar, elementum erat quis, feugiat orci. Praesent viverra neque eu mauris fermentum malesuada. Etiam
            fermentum luctus urna, sit amet dapibus risus rhoncus vel. Cras ullamcorper venenatis elit. Fusce augue
            libero, consequat et pellentesque ac, elementum at ante. Cras rutrum lacus urna. Suspendisse ultricies
            venenatis finibus. Maecenas hendrerit bibendum dolor ut iaculis. Donec posuere velit in libero tincidunt, ac
            hendrerit nisl placerat. Morbi laoreet, dui eu rhoncus sagittis, tortor arcu imperdiet est, vel iaculis
            sapien lectus a augue. Phasellus nec velit tincidunt, condimentum diam eget, convallis tellus. Duis sodales
            porta efficitur. Ut non dictum urna. Nulla nec justo sagittis, pellentesque neque at, scelerisque massa. Sed
            nunc massa, hendrerit id justo a, venenatis vestibulum est. Sed euismod velit in odio varius posuere. Nulla
            at consequat nibh. Suspendisse potenti. Sed nunc velit, cursus sit amet ornare quis, euismod a eros. Aliquam
            erat tellus, ullamcorper a iaculis eu, ullamcorper ut tellus. Integer euismod est fringilla, feugiat nulla
            et, venenatis erat. Sed rhoncus, ante eget aliquam pellentesque, libero mi viverra arcu, in aliquam turpis
            libero sed lectus. Quisque suscipit consequat odio, nec cursus mi. Fusce in purus mattis, faucibus leo at,
            laoreet erat. Aenean egestas, sem at consectetur sagittis, lacus orci lobortis mauris, auctor condimentum
            massa sapien eu turpis. Nulla at facilisis sapien, in hendrerit dolor. Donec dapibus tempor sem eget
            gravida. Nulla vitae elit eget elit rhoncus hendrerit. Cras tincidunt urna in vehicula tempus. Aliquam id
            lectus id nibh porttitor tincidunt. Cras nec molestie ante.
        </p>
    </main>
</Layout>
