---

---

<script is:inline src='https://www.gstatic.com/charts/loader.js'></script>
<script>
    // const response = await fetch(
    //     'https://rochesterymca.org/schedules/get-event-data/SCHOTTLAND%20FAMILY%20YMCA/Cardio%3BStrength/2024-01-09',
    // );
    // console.log(response);
    // const json = await response.json();
    // console.log(json);

    // const schedule = Object.groupBy(json, ({ time_start }) => {
    //     return time_start;
    // });

    // const schedule = {
    //     '5:45AM': [
    //         {
    //             nid: '34895',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'GRIT™ CARDIO',
    //             class: '34524',
    //             session: '34895',
    //             room: 'Family Gym',
    //             instructor: 'Christine H',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41531',
    //             register_text: 'Register Now',
    //             duration: '30',
    //             productid: null,
    //             start_timestamp: '1657014300',
    //             end_timestamp: '1767093300',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34524',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/grittm-cardio/class-times?location=4567',
    //                 title: 'GRIT™ CARDIO',
    //                 description:
    //                     '30  minutes of HIIT training that improves cardiovascular fitness, increase speed  and maximize calorie expenditure. This workout uses a variety of body weight  exercises and provides the challenge and intensity you need to get results  fast. Options are available for different fitness levels.',
    //             },
    //             time_start_sort: '0545',
    //             time_start: '5:45AM',
    //             time_end: '6:15AM',
    //             time_start_calendar: '2022-07-05 05:45:00',
    //             time_end_calendar: '2022-07-05 06:15:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 30,
    //             duration_hours: 0,
    //         },
    //         {
    //             nid: '34896',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'TRX CIRCUIT®',
    //             class: '34558',
    //             session: '34896',
    //             room: 'Studio 2',
    //             instructor: 'Sheila A',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41532',
    //             register_text: 'Register Now',
    //             duration: '45',
    //             productid: null,
    //             start_timestamp: '1657014300',
    //             end_timestamp: '1767094200',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34558',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/trx-circuitr/class-times?location=4567',
    //                 title: 'TRX CIRCUIT®',
    //                 description:
    //                     'This  all-levels, high-energy workout focuses on improving your cardio and building  muscular endurance. Multiple rounds of strength and cardio are time based to  bring maximal results in minimal time.',
    //             },
    //             time_start_sort: '0545',
    //             time_start: '5:45AM',
    //             time_end: '6:30AM',
    //             time_start_calendar: '2022-07-05 05:45:00',
    //             time_end_calendar: '2022-07-05 06:30:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 45,
    //             duration_hours: 0,
    //         },
    //         {
    //             nid: '35773',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'GROUP CYCLE',
    //             class: '34497',
    //             session: '35773',
    //             room: 'Cycle Stadium',
    //             instructor: 'Iskra B',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/44287',
    //             register_text: 'Register Now',
    //             duration: '45',
    //             productid: null,
    //             start_timestamp: '1667295900',
    //             end_timestamp: '1766489400',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34497',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
    //                 title: 'GROUP CYCLE',
    //                 description:
    //                     'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
    //             },
    //             time_start_sort: '0545',
    //             time_start: '5:45AM',
    //             time_end: '6:30AM',
    //             time_start_calendar: '2022-11-01 05:45:00',
    //             time_end_calendar: '2022-11-01 06:30:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 45,
    //             duration_hours: 0,
    //         },
    //     ],
    //     '8:45AM': [
    //         {
    //             nid: '39541',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'DANCE FIT',
    //             class: '34885',
    //             session: '39541',
    //             room: 'Family Gym',
    //             instructor: 'Marie K',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/47745',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1680612300',
    //             end_timestamp: '1767105900',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34885',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/dance-fit/class-times?location=4567',
    //                 title: 'DANCE FIT',
    //                 description:
    //                     'A  workout designed with a progressive, choreographed, dance aerobic phase  followed by muscular conditioning and flexibility.',
    //             },
    //             time_start_sort: '0845',
    //             time_start: '8:45AM',
    //             time_end: '9:45AM',
    //             time_start_calendar: '2023-04-04 08:45:00',
    //             time_end_calendar: '2023-04-04 09:45:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //     ],
    //     '9:00AM': [
    //         {
    //             nid: '42998',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'HIGH FITNESS NEW',
    //             class: '37498',
    //             session: '42998',
    //             room: 'Studio 2',
    //             instructor: 'Anna B /Gil G',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/51379',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1694523600',
    //             end_timestamp: '1767106800',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '37498',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/high-fitness-new/class-times?location=4567',
    //                 title: 'HIGH FITNESS NEW',
    //                 description:
    //                     'Aerobics  is back! Experience a modern twist on aerobics in a non-stop, action-packed  hour of cardio and toning tracks. Easy-to-follow choreography is incorporated  with aerobic interval training and full-body toning. Set to modern music you  know and love, this class will take your overall fitness to the next level!',
    //             },
    //             time_start_sort: '0900',
    //             time_start: '9:00AM',
    //             time_end: '10:00AM',
    //             time_start_calendar: '2023-09-12 09:00:00',
    //             time_end_calendar: '2023-09-12 10:00:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //         {
    //             nid: '35767',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'TOTAL BODY STRONG',
    //             class: '34583',
    //             session: '35767',
    //             room: 'Turf Gym',
    //             instructor: 'Lisa B',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/44273',
    //             register_text: 'Register Now',
    //             duration: '45',
    //             productid: null,
    //             start_timestamp: '1684242000',
    //             end_timestamp: '1767105900',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34583',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/total-body-strong/class-times?location=4567',
    //                 title: 'TOTAL BODY STRONG',
    //                 description:
    //                     'Using a variety of proven equipment, integrated core training, smart strength   exercises and functional movement patterns, this class is designed to help you get the most out of your   workout in the least amount of time. An all-levels group strength workout aimed to improve strength,   muscular endurance, balance, function and appearance.',
    //             },
    //             time_start_sort: '0900',
    //             time_start: '9:00AM',
    //             time_end: '9:45AM',
    //             time_start_calendar: '2023-05-16 09:00:00',
    //             time_end_calendar: '2023-05-16 09:45:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 45,
    //             duration_hours: 0,
    //         },
    //         {
    //             nid: '34845',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'GROUP CYCLE',
    //             class: '34497',
    //             session: '34845',
    //             room: 'Cycle Stadium',
    //             instructor: 'Laura M',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41485',
    //             register_text: 'Register Now',
    //             duration: '45',
    //             productid: null,
    //             start_timestamp: '1657026000',
    //             end_timestamp: '1767105900',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34497',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
    //                 title: 'GROUP CYCLE',
    //                 description:
    //                     'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
    //             },
    //             time_start_sort: '0900',
    //             time_start: '9:00AM',
    //             time_end: '9:45AM',
    //             time_start_calendar: '2022-07-05 09:00:00',
    //             time_end_calendar: '2022-07-05 09:45:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 45,
    //             duration_hours: 0,
    //         },
    //         {
    //             nid: '34869',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'Les Mills CORE™',
    //             class: '34611',
    //             session: '34869',
    //             room: 'Studio 1',
    //             instructor: 'Diane R',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41509',
    //             register_text: 'Register Now',
    //             duration: '30',
    //             productid: null,
    //             start_timestamp: '1664283600',
    //             end_timestamp: '1767105000',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34611',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/les-mills-coretm/class-times?location=4567',
    //                 title: 'Les Mills CORE™',
    //                 description:
    //                     'This is a  30-minute workout that will bring you to a new fitness level for CORE training!  This program really targets the torso and sling muscles that connect your upper  body to your lower body. It’s ideal for strengthening your abdominals and your  butt while also improving functional strength and assisting in injury  prevention.',
    //             },
    //             time_start_sort: '0900',
    //             time_start: '9:00AM',
    //             time_end: '9:30AM',
    //             time_start_calendar: '2022-09-27 09:00:00',
    //             time_end_calendar: '2022-09-27 09:30:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 30,
    //             duration_hours: 0,
    //         },
    //     ],
    //     '9:45AM': [
    //         {
    //             nid: '34826',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'BODYPUMP™',
    //             class: '34632',
    //             session: '34826',
    //             room: 'Studio 1',
    //             instructor: 'Diane R',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41467',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1664286300',
    //             end_timestamp: '1767109500',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34632',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/bodypumptm/class-times?location=4567',
    //                 title: 'BODYPUMP™',
    //                 description:
    //                     'It is the  original barbell class that strengthens your entire body. This workout  challenges all your major muscle groups by using the best weight room exercises  like squats, presses, lifts and curls. Great music, awesome instructors and  your choice of weights inspire you to get the results you’re looking for.',
    //             },
    //             time_start_sort: '0945',
    //             time_start: '9:45AM',
    //             time_end: '10:45AM',
    //             time_start_calendar: '2022-09-27 09:45:00',
    //             time_end_calendar: '2022-09-27 10:45:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //     ],
    //     '11:00AM': [
    //         {
    //             nid: '34902',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'JUMP ROPING for FITNESS',
    //             class: '34887',
    //             session: '34902',
    //             room: 'Studio 1',
    //             instructor: 'Susan M',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41538',
    //             register_text: 'Register Now',
    //             duration: '30',
    //             productid: null,
    //             start_timestamp: '1691506800',
    //             end_timestamp: '1767112200',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34887',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/jump-roping-fitness/class-times?location=4567',
    //                 title: 'JUMP ROPING for FITNESS',
    //                 description:
    //                     'Looking for  others to jump rope with? Whether you are a beginner or someone who already  loves to jump rope-come jump with us! A certified jump rope instructor is  present and eager to help or answer any questions. This offering is happily  unstructured to bring people of all skill levels together.',
    //             },
    //             time_start_sort: '1100',
    //             time_start: '11:00AM',
    //             time_end: '11:30AM',
    //             time_start_calendar: '2023-08-08 11:00:00',
    //             time_end_calendar: '2023-08-08 11:30:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 30,
    //             duration_hours: 0,
    //         },
    //     ],
    //     '11:45AM': [
    //         {
    //             nid: '34903',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'BARRE',
    //             class: '34712',
    //             session: '34903',
    //             room: 'Studio 3',
    //             instructor: 'Lisa Ba',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41539',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1657035900',
    //             end_timestamp: '1767116700',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34712',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/barre/class-times?location=4567',
    //                 title: 'BARRE',
    //                 description:
    //                     'Designed  for fitness enthusiasts, the all-levels Barre workout blends the best of  ballet, Pilates, dance, yoga and functional training exercises to develop  muscular endurance, core strength, dynamic balance and flexibility.',
    //             },
    //             time_start_sort: '1145',
    //             time_start: '11:45AM',
    //             time_end: '12:45PM',
    //             time_start_calendar: '2022-07-05 11:45:00',
    //             time_end_calendar: '2022-07-05 12:45:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //     ],
    //     '12:00PM': [
    //         {
    //             nid: '34827',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'BODYPUMP™',
    //             class: '34632',
    //             session: '34827',
    //             room: 'Studio 1',
    //             instructor: 'Jen N',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41468',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1664294400',
    //             end_timestamp: '1767117600',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34632',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/bodypumptm/class-times?location=4567',
    //                 title: 'BODYPUMP™',
    //                 description:
    //                     'It is the  original barbell class that strengthens your entire body. This workout  challenges all your major muscle groups by using the best weight room exercises  like squats, presses, lifts and curls. Great music, awesome instructors and  your choice of weights inspire you to get the results you’re looking for.',
    //             },
    //             time_start_sort: '1200',
    //             time_start: '12:00PM',
    //             time_end: '1:00PM',
    //             time_start_calendar: '2022-09-27 12:00:00',
    //             time_end_calendar: '2022-09-27 13:00:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //         {
    //             nid: '34846',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'GROUP CYCLE',
    //             class: '34497',
    //             session: '34846',
    //             room: 'Cycle Stadium',
    //             instructor: 'Mindy A',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41486',
    //             register_text: 'Register Now',
    //             duration: '30',
    //             productid: null,
    //             start_timestamp: '1657036800',
    //             end_timestamp: '1767115800',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34497',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
    //                 title: 'GROUP CYCLE',
    //                 description:
    //                     'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
    //             },
    //             time_start_sort: '1200',
    //             time_start: '12:00PM',
    //             time_end: '12:30PM',
    //             time_start_calendar: '2022-07-05 12:00:00',
    //             time_end_calendar: '2022-07-05 12:30:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 30,
    //             duration_hours: 0,
    //         },
    //     ],
    //     '4:30PM': [
    //         {
    //             nid: '34904',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'BARRE',
    //             class: '34712',
    //             session: '34904',
    //             room: 'Studio 3',
    //             instructor: 'Cathleen B',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41540',
    //             register_text: 'Register Now',
    //             duration: '45',
    //             productid: null,
    //             start_timestamp: '1657053000',
    //             end_timestamp: '1767132900',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34712',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/barre/class-times?location=4567',
    //                 title: 'BARRE',
    //                 description:
    //                     'Designed  for fitness enthusiasts, the all-levels Barre workout blends the best of  ballet, Pilates, dance, yoga and functional training exercises to develop  muscular endurance, core strength, dynamic balance and flexibility.',
    //             },
    //             time_start_sort: '1630',
    //             time_start: '4:30PM',
    //             time_end: '5:15PM',
    //             time_start_calendar: '2022-07-05 16:30:00',
    //             time_end_calendar: '2022-07-05 17:15:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 45,
    //             duration_hours: 0,
    //         },
    //     ],
    //     '5:00PM': [
    //         {
    //             nid: '45904',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'LES MILLS BODYSTEP™',
    //             class: '44414',
    //             session: '45904',
    //             room: 'Studio 1',
    //             instructor: 'Mary J',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/54680',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1704232800',
    //             end_timestamp: '1767135600',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '44414',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/les-mills-bodysteptm/class-times-0?location=4567',
    //                 title: 'LES MILLS BODYSTEP™',
    //                 description:
    //                     'A full-body cardio workout using the step. Expect rhythmic stepping with squat and lunge patterns to workout the legs and improve co-ordination and agility. All fitness levels welcome.',
    //             },
    //             time_start_sort: '1700',
    //             time_start: '5:00PM',
    //             time_end: '6:00PM',
    //             time_start_calendar: '2024-01-02 17:00:00',
    //             time_end_calendar: '2024-01-02 18:00:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //         {
    //             nid: '45903',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'TURBOKICK®',
    //             class: '34889',
    //             session: '45903',
    //             room: 'Studio 2',
    //             instructor: 'Danny M',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/54679',
    //             register_text: 'Register Now',
    //             duration: '45',
    //             productid: null,
    //             start_timestamp: '1704232800',
    //             end_timestamp: '1767134700',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34889',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/turbokickr/class-times?location=4567',
    //                 title: 'TURBOKICK®',
    //                 description:
    //                     'Total body  cardio class packed with kickboxing moves, HIIT training, strength exercises  and core work.',
    //             },
    //             time_start_sort: '1700',
    //             time_start: '5:00PM',
    //             time_end: '5:45PM',
    //             time_start_calendar: '2024-01-02 17:00:00',
    //             time_end_calendar: '2024-01-02 17:45:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 45,
    //             duration_hours: 0,
    //         },
    //     ],
    //     '6:00PM': [
    //         {
    //             nid: '34847',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'GROUP CYCLE',
    //             class: '34497',
    //             session: '34847',
    //             room: 'Cycle Stadium',
    //             instructor: 'Melissia S',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41487',
    //             register_text: 'Register Now',
    //             duration: '45',
    //             productid: null,
    //             start_timestamp: '1657058400',
    //             end_timestamp: '1767138300',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34497',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
    //                 title: 'GROUP CYCLE',
    //                 description:
    //                     'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
    //             },
    //             time_start_sort: '1800',
    //             time_start: '6:00PM',
    //             time_end: '6:45PM',
    //             time_start_calendar: '2022-07-05 18:00:00',
    //             time_end_calendar: '2022-07-05 18:45:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 45,
    //             duration_hours: 0,
    //         },
    //     ],
    //     '6:15PM': [
    //         {
    //             nid: '45905',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'BODYPUMP™',
    //             class: '34632',
    //             session: '45905',
    //             room: 'Studio 1',
    //             instructor: 'Kristina L',
    //             category: 'Strength',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/54681',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1704237300',
    //             end_timestamp: '1704845700',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34632',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/bodypumptm/class-times?location=4567',
    //                 title: 'BODYPUMP™',
    //                 description:
    //                     'It is the  original barbell class that strengthens your entire body. This workout  challenges all your major muscle groups by using the best weight room exercises  like squats, presses, lifts and curls. Great music, awesome instructors and  your choice of weights inspire you to get the results you’re looking for.',
    //             },
    //             time_start_sort: '1815',
    //             time_start: '6:15PM',
    //             time_end: '7:15PM',
    //             time_start_calendar: '2024-01-02 18:15:00',
    //             time_end_calendar: '2024-01-02 19:15:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //     ],
    //     '7:00PM': [
    //         {
    //             nid: '34909',
    //             location: 'SCHOTTLAND FAMILY YMCA',
    //             name: 'ZUMBA®',
    //             class: '34635',
    //             session: '34909',
    //             room: 'Studio 2',
    //             instructor: 'Mari B',
    //             category: 'Cardio',
    //             register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41545',
    //             register_text: 'Register Now',
    //             duration: '60',
    //             productid: null,
    //             start_timestamp: '1657062000',
    //             end_timestamp: '1767142800',
    //             location_info: {
    //                 nid: '4567',
    //                 title: 'SCHOTTLAND FAMILY YMCA',
    //                 email: 'SchottlandQuestions@RochesterYMCA.org',
    //                 phone: '585-446-2000',
    //                 address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
    //                 days: [
    //                     ['Mon - Fri:', '5 am-9 pm'],
    //                     ['Sat:', '7 am-6 pm'],
    //                     ['Sun:', '8 am-5 pm'],
    //                 ],
    //             },
    //             class_info: {
    //                 nid: '34635',
    //                 path: 'https://rochesterymca.org/programs/health-wellness/group-ex/zumbar/class-times?location=4567',
    //                 title: 'ZUMBA®',
    //                 description:
    //                     'Zumba is a  fusion of Latin and International music – dance themes that create a dynamic,  exciting, effective fitness system! Zumba utilizes the principles of fitness  interval training for an energizing cardio workout!',
    //             },
    //             time_start_sort: '1900',
    //             time_start: '7:00PM',
    //             time_end: '8:00PM',
    //             time_start_calendar: '2022-07-05 19:00:00',
    //             time_end_calendar: '2022-07-05 20:00:00',
    //             timezone: 'America/New_York',
    //             duration_minutes: 0,
    //             duration_hours: 1,
    //         },
    //     ],
    // };
    //console.log(schedule);

    const classes = [
        {
            nid: '34895',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'GRIT™ CARDIO',
            class: '34524',
            session: '34895',
            room: 'Family Gym',
            instructor: 'Christine H',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41531',
            register_text: 'Register Now',
            duration: '30',
            productid: null,
            start_timestamp: '1657014300',
            end_timestamp: '1767093300',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34524',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/grittm-cardio/class-times?location=4567',
                title: 'GRIT™ CARDIO',
                description:
                    '30  minutes of HIIT training that improves cardiovascular fitness, increase speed  and maximize calorie expenditure. This workout uses a variety of body weight  exercises and provides the challenge and intensity you need to get results  fast. Options are available for different fitness levels.',
            },
            time_start_sort: '0545',
            time_start: '5:45AM',
            time_end: '6:15AM',
            time_start_calendar: '2022-07-05 05:45:00',
            time_end_calendar: '2022-07-05 06:15:00',
            timezone: 'America/New_York',
            duration_minutes: 30,
            duration_hours: 0,
        },
        {
            nid: '34896',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'TRX CIRCUIT®',
            class: '34558',
            session: '34896',
            room: 'Studio 2',
            instructor: 'Sheila A',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41532',
            register_text: 'Register Now',
            duration: '45',
            productid: null,
            start_timestamp: '1657014300',
            end_timestamp: '1767094200',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34558',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/trx-circuitr/class-times?location=4567',
                title: 'TRX CIRCUIT®',
                description:
                    'This  all-levels, high-energy workout focuses on improving your cardio and building  muscular endurance. Multiple rounds of strength and cardio are time based to  bring maximal results in minimal time.',
            },
            time_start_sort: '0545',
            time_start: '5:45AM',
            time_end: '6:30AM',
            time_start_calendar: '2022-07-05 05:45:00',
            time_end_calendar: '2022-07-05 06:30:00',
            timezone: 'America/New_York',
            duration_minutes: 45,
            duration_hours: 0,
        },
        {
            nid: '35773',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'GROUP CYCLE',
            class: '34497',
            session: '35773',
            room: 'Cycle Stadium',
            instructor: 'Iskra B',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/44287',
            register_text: 'Register Now',
            duration: '45',
            productid: null,
            start_timestamp: '1667295900',
            end_timestamp: '1766489400',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34497',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
                title: 'GROUP CYCLE',
                description:
                    'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
            },
            time_start_sort: '0545',
            time_start: '5:45AM',
            time_end: '6:30AM',
            time_start_calendar: '2022-11-01 05:45:00',
            time_end_calendar: '2022-11-01 06:30:00',
            timezone: 'America/New_York',
            duration_minutes: 45,
            duration_hours: 0,
        },
        {
            nid: '39541',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'DANCE FIT',
            class: '34885',
            session: '39541',
            room: 'Family Gym',
            instructor: 'Marie K',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/47745',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1680612300',
            end_timestamp: '1767105900',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34885',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/dance-fit/class-times?location=4567',
                title: 'DANCE FIT',
                description:
                    'A  workout designed with a progressive, choreographed, dance aerobic phase  followed by muscular conditioning and flexibility.',
            },
            time_start_sort: '0845',
            time_start: '8:45AM',
            time_end: '9:45AM',
            time_start_calendar: '2023-04-04 08:45:00',
            time_end_calendar: '2023-04-04 09:45:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
        {
            nid: '42998',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'HIGH FITNESS NEW',
            class: '37498',
            session: '42998',
            room: 'Studio 2',
            instructor: 'Anna B /Gil G',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/51379',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1694523600',
            end_timestamp: '1767106800',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '37498',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/high-fitness-new/class-times?location=4567',
                title: 'HIGH FITNESS NEW',
                description:
                    'Aerobics  is back! Experience a modern twist on aerobics in a non-stop, action-packed  hour of cardio and toning tracks. Easy-to-follow choreography is incorporated  with aerobic interval training and full-body toning. Set to modern music you  know and love, this class will take your overall fitness to the next level!',
            },
            time_start_sort: '0900',
            time_start: '9:00AM',
            time_end: '10:00AM',
            time_start_calendar: '2023-09-12 09:00:00',
            time_end_calendar: '2023-09-12 10:00:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
        {
            nid: '35767',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'TOTAL BODY STRONG',
            class: '34583',
            session: '35767',
            room: 'Turf Gym',
            instructor: 'Lisa B',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/44273',
            register_text: 'Register Now',
            duration: '45',
            productid: null,
            start_timestamp: '1684242000',
            end_timestamp: '1767105900',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34583',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/total-body-strong/class-times?location=4567',
                title: 'TOTAL BODY STRONG',
                description:
                    'Using a variety of proven equipment, integrated core training, smart strength   exercises and functional movement patterns, this class is designed to help you get the most out of your   workout in the least amount of time. An all-levels group strength workout aimed to improve strength,   muscular endurance, balance, function and appearance.',
            },
            time_start_sort: '0900',
            time_start: '9:00AM',
            time_end: '9:45AM',
            time_start_calendar: '2023-05-16 09:00:00',
            time_end_calendar: '2023-05-16 09:45:00',
            timezone: 'America/New_York',
            duration_minutes: 45,
            duration_hours: 0,
        },
        {
            nid: '34845',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'GROUP CYCLE',
            class: '34497',
            session: '34845',
            room: 'Cycle Stadium',
            instructor: 'Laura M',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41485',
            register_text: 'Register Now',
            duration: '45',
            productid: null,
            start_timestamp: '1657026000',
            end_timestamp: '1767105900',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34497',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
                title: 'GROUP CYCLE',
                description:
                    'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
            },
            time_start_sort: '0900',
            time_start: '9:00AM',
            time_end: '9:45AM',
            time_start_calendar: '2022-07-05 09:00:00',
            time_end_calendar: '2022-07-05 09:45:00',
            timezone: 'America/New_York',
            duration_minutes: 45,
            duration_hours: 0,
        },
        {
            nid: '34869',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'Les Mills CORE™',
            class: '34611',
            session: '34869',
            room: 'Studio 1',
            instructor: 'Diane R',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41509',
            register_text: 'Register Now',
            duration: '30',
            productid: null,
            start_timestamp: '1664283600',
            end_timestamp: '1767105000',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34611',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/les-mills-coretm/class-times?location=4567',
                title: 'Les Mills CORE™',
                description:
                    'This is a  30-minute workout that will bring you to a new fitness level for CORE training!  This program really targets the torso and sling muscles that connect your upper  body to your lower body. It’s ideal for strengthening your abdominals and your  butt while also improving functional strength and assisting in injury  prevention.',
            },
            time_start_sort: '0900',
            time_start: '9:00AM',
            time_end: '9:30AM',
            time_start_calendar: '2022-09-27 09:00:00',
            time_end_calendar: '2022-09-27 09:30:00',
            timezone: 'America/New_York',
            duration_minutes: 30,
            duration_hours: 0,
        },
        {
            nid: '34826',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'BODYPUMP™',
            class: '34632',
            session: '34826',
            room: 'Studio 1',
            instructor: 'Diane R',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41467',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1664286300',
            end_timestamp: '1767109500',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34632',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/bodypumptm/class-times?location=4567',
                title: 'BODYPUMP™',
                description:
                    'It is the  original barbell class that strengthens your entire body. This workout  challenges all your major muscle groups by using the best weight room exercises  like squats, presses, lifts and curls. Great music, awesome instructors and  your choice of weights inspire you to get the results you’re looking for.',
            },
            time_start_sort: '0945',
            time_start: '9:45AM',
            time_end: '10:45AM',
            time_start_calendar: '2022-09-27 09:45:00',
            time_end_calendar: '2022-09-27 10:45:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
        {
            nid: '34902',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'JUMP ROPING for FITNESS',
            class: '34887',
            session: '34902',
            room: 'Studio 1',
            instructor: 'Susan M',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41538',
            register_text: 'Register Now',
            duration: '30',
            productid: null,
            start_timestamp: '1691506800',
            end_timestamp: '1767112200',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34887',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/jump-roping-fitness/class-times?location=4567',
                title: 'JUMP ROPING for FITNESS',
                description:
                    'Looking for  others to jump rope with? Whether you are a beginner or someone who already  loves to jump rope-come jump with us! A certified jump rope instructor is  present and eager to help or answer any questions. This offering is happily  unstructured to bring people of all skill levels together.',
            },
            time_start_sort: '1100',
            time_start: '11:00AM',
            time_end: '11:30AM',
            time_start_calendar: '2023-08-08 11:00:00',
            time_end_calendar: '2023-08-08 11:30:00',
            timezone: 'America/New_York',
            duration_minutes: 30,
            duration_hours: 0,
        },
        {
            nid: '34903',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'BARRE',
            class: '34712',
            session: '34903',
            room: 'Studio 3',
            instructor: 'Lisa Ba',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41539',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1657035900',
            end_timestamp: '1767116700',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34712',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/barre/class-times?location=4567',
                title: 'BARRE',
                description:
                    'Designed  for fitness enthusiasts, the all-levels Barre workout blends the best of  ballet, Pilates, dance, yoga and functional training exercises to develop  muscular endurance, core strength, dynamic balance and flexibility.',
            },
            time_start_sort: '1145',
            time_start: '11:45AM',
            time_end: '12:45PM',
            time_start_calendar: '2022-07-05 11:45:00',
            time_end_calendar: '2022-07-05 12:45:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
        {
            nid: '34827',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'BODYPUMP™',
            class: '34632',
            session: '34827',
            room: 'Studio 1',
            instructor: 'Jen N',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41468',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1664294400',
            end_timestamp: '1767117600',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34632',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/bodypumptm/class-times?location=4567',
                title: 'BODYPUMP™',
                description:
                    'It is the  original barbell class that strengthens your entire body. This workout  challenges all your major muscle groups by using the best weight room exercises  like squats, presses, lifts and curls. Great music, awesome instructors and  your choice of weights inspire you to get the results you’re looking for.',
            },
            time_start_sort: '1200',
            time_start: '12:00PM',
            time_end: '1:00PM',
            time_start_calendar: '2022-09-27 12:00:00',
            time_end_calendar: '2022-09-27 13:00:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
        {
            nid: '34846',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'GROUP CYCLE',
            class: '34497',
            session: '34846',
            room: 'Cycle Stadium',
            instructor: 'Mindy A',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41486',
            register_text: 'Register Now',
            duration: '30',
            productid: null,
            start_timestamp: '1657036800',
            end_timestamp: '1767115800',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34497',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
                title: 'GROUP CYCLE',
                description:
                    'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
            },
            time_start_sort: '1200',
            time_start: '12:00PM',
            time_end: '12:30PM',
            time_start_calendar: '2022-07-05 12:00:00',
            time_end_calendar: '2022-07-05 12:30:00',
            timezone: 'America/New_York',
            duration_minutes: 30,
            duration_hours: 0,
        },
        {
            nid: '34904',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'BARRE',
            class: '34712',
            session: '34904',
            room: 'Studio 3',
            instructor: 'Cathleen B',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41540',
            register_text: 'Register Now',
            duration: '45',
            productid: null,
            start_timestamp: '1657053000',
            end_timestamp: '1767132900',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34712',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/barre/class-times?location=4567',
                title: 'BARRE',
                description:
                    'Designed  for fitness enthusiasts, the all-levels Barre workout blends the best of  ballet, Pilates, dance, yoga and functional training exercises to develop  muscular endurance, core strength, dynamic balance and flexibility.',
            },
            time_start_sort: '1630',
            time_start: '4:30PM',
            time_end: '5:15PM',
            time_start_calendar: '2022-07-05 16:30:00',
            time_end_calendar: '2022-07-05 17:15:00',
            timezone: 'America/New_York',
            duration_minutes: 45,
            duration_hours: 0,
        },
        {
            nid: '45904',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'LES MILLS BODYSTEP™',
            class: '44414',
            session: '45904',
            room: 'Studio 1',
            instructor: 'Mary J',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/54680',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1704232800',
            end_timestamp: '1767135600',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '44414',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/les-mills-bodysteptm/class-times-0?location=4567',
                title: 'LES MILLS BODYSTEP™',
                description:
                    'A full-body cardio workout using the step. Expect rhythmic stepping with squat and lunge patterns to workout the legs and improve co-ordination and agility. All fitness levels welcome.',
            },
            time_start_sort: '1700',
            time_start: '5:00PM',
            time_end: '6:00PM',
            time_start_calendar: '2024-01-02 17:00:00',
            time_end_calendar: '2024-01-02 18:00:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
        {
            nid: '45903',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'TURBOKICK®',
            class: '34889',
            session: '45903',
            room: 'Studio 2',
            instructor: 'Danny M',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/54679',
            register_text: 'Register Now',
            duration: '45',
            productid: null,
            start_timestamp: '1704232800',
            end_timestamp: '1767134700',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34889',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/turbokickr/class-times?location=4567',
                title: 'TURBOKICK®',
                description:
                    'Total body  cardio class packed with kickboxing moves, HIIT training, strength exercises  and core work.',
            },
            time_start_sort: '1700',
            time_start: '5:00PM',
            time_end: '5:45PM',
            time_start_calendar: '2024-01-02 17:00:00',
            time_end_calendar: '2024-01-02 17:45:00',
            timezone: 'America/New_York',
            duration_minutes: 45,
            duration_hours: 0,
        },
        {
            nid: '34847',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'GROUP CYCLE',
            class: '34497',
            session: '34847',
            room: 'Cycle Stadium',
            instructor: 'Melissia S',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41487',
            register_text: 'Register Now',
            duration: '45',
            productid: null,
            start_timestamp: '1657058400',
            end_timestamp: '1767138300',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34497',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/group-cycle/class-times?location=4567',
                title: 'GROUP CYCLE',
                description:
                    'Whether  you are a beginner or avid cyclist, this class is for you! Each ride combines  endurance, speed and hill interval training with guided focus and motivational  music. Experience an inspirational journey into fitness with planned and  customizable progressions on the bike.',
            },
            time_start_sort: '1800',
            time_start: '6:00PM',
            time_end: '6:45PM',
            time_start_calendar: '2022-07-05 18:00:00',
            time_end_calendar: '2022-07-05 18:45:00',
            timezone: 'America/New_York',
            duration_minutes: 45,
            duration_hours: 0,
        },
        {
            nid: '45905',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'BODYPUMP™',
            class: '34632',
            session: '45905',
            room: 'Studio 1',
            instructor: 'Kristina L',
            category: 'Strength',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/54681',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1704237300',
            end_timestamp: '1704845700',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34632',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/bodypumptm/class-times?location=4567',
                title: 'BODYPUMP™',
                description:
                    'It is the  original barbell class that strengthens your entire body. This workout  challenges all your major muscle groups by using the best weight room exercises  like squats, presses, lifts and curls. Great music, awesome instructors and  your choice of weights inspire you to get the results you’re looking for.',
            },
            time_start_sort: '1815',
            time_start: '6:15PM',
            time_end: '7:15PM',
            time_start_calendar: '2024-01-02 18:15:00',
            time_end_calendar: '2024-01-02 19:15:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
        {
            nid: '34909',
            location: 'SCHOTTLAND FAMILY YMCA',
            name: 'ZUMBA®',
            class: '34635',
            session: '34909',
            room: 'Studio 2',
            instructor: 'Mari B',
            category: 'Cardio',
            register_url: 'https://apm.activecommunities.com/rochesterymca/Activity_Search/41545',
            register_text: 'Register Now',
            duration: '60',
            productid: null,
            start_timestamp: '1657062000',
            end_timestamp: '1767142800',
            location_info: {
                nid: '4567',
                title: 'SCHOTTLAND FAMILY YMCA',
                email: 'SchottlandQuestions@RochesterYMCA.org',
                phone: '585-446-2000',
                address: '2300 West Jefferson Rd, Pittsford, NY, US, 14534',
                days: [
                    ['Mon - Fri:', '5 am-9 pm'],
                    ['Sat:', '7 am-6 pm'],
                    ['Sun:', '8 am-5 pm'],
                ],
            },
            class_info: {
                nid: '34635',
                path: 'https://rochesterymca.org/programs/health-wellness/group-ex/zumbar/class-times?location=4567',
                title: 'ZUMBA®',
                description:
                    'Zumba is a  fusion of Latin and International music – dance themes that create a dynamic,  exciting, effective fitness system! Zumba utilizes the principles of fitness  interval training for an energizing cardio workout!',
            },
            time_start_sort: '1900',
            time_start: '7:00PM',
            time_end: '8:00PM',
            time_start_calendar: '2022-07-05 19:00:00',
            time_end_calendar: '2022-07-05 20:00:00',
            timezone: 'America/New_York',
            duration_minutes: 0,
            duration_hours: 1,
        },
    ];
    google.charts.load('current', { packages: ['timeline'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        let container = document.getElementById('timeline');

        if (container === null) {
            return;
        }

        let chart = new google.visualization.Timeline(container);
        let dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Class' });
        dataTable.addColumn({ type: 'string', id: 'Range' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        for (let clazz of classes) {
            const start = new Date(Date.parse(clazz.time_start_calendar));
            const end = new Date(Date.parse(clazz.time_end_calendar));

            const startDate = new Date();
            startDate.setHours(start.getHours());
            startDate.setMinutes(start.getMinutes());

            const endDate = new Date();
            endDate.setHours(end.getHours());
            endDate.setMinutes(end.getMinutes());

            dataTable.addRow([clazz.name, `${clazz.time_start}-${clazz.time_end}`, startDate, endDate]);
        }

        // dataTable.addRows([
        //     ['Washington', new Date(1789, 3, 30), new Date(1797, 2, 4)],
        //     ['Washington', new Date(1798, 3, 30), new Date(1799, 2, 4)],
        //     ['Adams', new Date(1797, 2, 4), new Date(1801, 2, 4)],
        //     ['Jefferson', new Date(1801, 2, 4), new Date(1809, 2, 4)],
        // ]);

        chart.draw(dataTable, {
            height: 600,
            width: 1200,
            enableInteractivity: false,
            timeline: {
                colorByRowLabel: true,
            },
        });
    }
</script>

<div id='timeline'></div>
