---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<article class='prose prose-lg prose-slate'>
    <h1 class='mb-8 text-2xl font-medium tracking-tighter'>{title}</h1>
    <slot />
</article>
