---
const links = [
    {
        href: '/',
        route: 'Home',
        classes: Astro.url.pathname === '/' ? 'underline decoration-1 underline-offset-4' : '',
    },
    {
        href: '/blog',
        route: 'Blog',
        classes: Astro.url.pathname.includes('blog') ? 'underline decoration-1 underline-offset-4' : '',
    },
];
---

<nav class='mb-16 flex space-x-3'>
    {
        links.map((link) => (
            <a href={link.href} class={link.classes}>
                {link.route}
            </a>
        ))
    }
</nav>
