---
import '@fontsource-variable/inter';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='Astro description' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    html {
        font-family: 'Inter Variable', sans-serif;
    }

    body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.75;
        font-size: 16px;
        color: #404040;
        padding: 0 10px;
    }

    h1,
    h2,
    h3 {
        line-height: 1.2;
    }
</style>
